.cart-details {
  display: grid;
  grid-gap: 2rem;
  max-width: 700px;
  margin: auto;
}

.cart-details li {
  display: grid;
  justify-items: center;
  grid-gap: 2rem;
}

.cart-details li img {
  max-width: 300px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.item-btns-and-info-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  max-width: 300px;
  justify-items: start;
}

.incr-or-decr-btns {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.incr-or-decr-btns button {
  color: var(--clr-blue);
  box-shadow: none;
  border: none;
  transition: 0.2s;
  font-size: 1rem;
  width: 100%;
  transform: scale(1);
}
#remove-item-btn {
  height: 1.5rem;
}

.incr-or-decr-btns button:hover {
  opacity: 0.8;
}

.incr-or-decr-btns button:active {
  transform: scale(0.5);
}

.total-items-and-price {
  width: 100%;
  max-width: 300px;
  margin: auto;
  margin-bottom: 2rem;
}

/* form */

.pay-form {
  width: 100%;
  max-width: 300px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 3rem;
}

.pay-form input {
  margin: 0.5rem 0;
  padding: 0.5rem;
}

.alert {
  padding: 0.3rem;
}

.show-alert {
  background-color: var(--clr-alert);
  color: var(--clr-white);
}

@media (min-width: 768px) {
  .cart-details li {
    grid-template-columns: 43% 57%;
    grid-gap: 0;
  }
  .cart-details li img {
    max-width: 180px;
  }
  .item-btns-and-info-wrapper {
    justify-self: start;
    align-items: end;
  }
  .total-items-and-price {
    max-width: 580px;
  }
  .pay-form {
    max-width: 580px;
  }
}
