.details-item {
  max-width: 400px;
  margin: auto;
  width: 90%;
}

.details-item h3 {
  text-align: center;
  padding: 1rem 0;
}
.details-item h4 {
  margin-bottom: 0.5rem;
}

.price {
  color: var(--clr-orange);
}

.name-and-price {
  display: flex;
  justify-content: space-between;
}

.horizontal-line {
  height: 1px;
  background: rgba(0, 0, 0, 0.153);
  margin-bottom: 0.5rem;
}

.object-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.dimensions p {
  display: flex;
  justify-content: space-between;
  width: 100px;
}
.other p {
  display: flex;
  justify-content: space-between;
  width: 120px;
}

.add-to-cart-btn {
  text-align: center;
}

.add-to-cart-btn button {
  width: 100%;
}
.add-to-cart-btn button:hover {
  box-shadow: inset 26rem 0rem 1rem var(--clr-orange);
}
