/* categories */

.categories {
  display: grid;
  place-items: center;
  padding: 1rem 0;
}

.categories div {
  padding: 1rem 0;
}

.categories button {
  background: transparent;
  border: 2px solid black;
  border-radius: 5px;
  width: 5rem;
  height: 2rem;
  margin: 0 1rem;
  cursor: pointer;
  transition: 0.3s;
}

.categories button:hover {
  color: rgb(57, 128, 187);
  border: 2px solid rgb(57, 128, 187);
}

/* section */

/* list */
.product-list {
  display: grid;
  place-items: center;
  grid-gap: 4rem;
}
/* list item */
.product-list li {
  max-width: 300px;
}

.product-list a {
  position: relative;
  display: inline-block;
  margin-bottom: 0.5rem;
}

.img-backdrop {
  position: absolute;
  top: 0;
  left: 0;
  display: grid;
  place-items: center;
  height: 98.5%;
  width: 100%;
  background: #000;
  color: white;
  opacity: 0;
  transition: 0.3s;
  font-size: 1.5rem;
}
.img-backdrop:hover {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.484);
}

.product-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

@media (min-width: 800px) {
  .product-list {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}
