* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
}

img {
  width: 100%;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

/* navbar */

.navbar {
  background: #def;
}

.inner-navbar {
  width: 95%;
  padding: 2rem 0;
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-icon {
  position: relative;
  display: inline-flex;
  cursor: pointer;
}

.cart-icon i {
  color: rgb(0, 0, 255);
  font-size: 1.3rem;
}

.cart-icon span {
  position: absolute;
  top: -5px;
  left: -10px;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 18px;
  width: 18px;

  background: red;
  border-radius: 50%;
}

/* categories */

.categories {
  display: grid;
  place-items: center;
  padding: 1rem 0;
}

.categories div {
  padding: 1rem 0;
}

.categories button {
  background: transparent;
  border: 2px solid black;
  border-radius: 5px;
  width: 5rem;
  height: 2rem;
  margin: 0 1rem;
  cursor: pointer;
  transition: 0.3s;
}

.categories button:hover {
  color: rgb(57, 128, 187);
  border: 2px solid rgb(57, 128, 187);
}

/* section */
.section-center {
  width: 95%;
  max-width: 1200px;
  margin: auto;
}
/* list */
.product-list {
  display: grid;
  place-items: center;
  grid-gap: 4rem;
}
/* list item */
.product-list li {
  /* max-width: 300px; */
}

.product-list a {
  position: relative;
  display: inline-block;
  margin-bottom: 0.5rem;
}
.img-backdrop {
  position: absolute;
  top: 0;
  left: 0;
  display: grid;
  place-items: center;
  height: 98.5%;
  width: 100%;
  background: #000;
  color: white;
  opacity: 0;
  transition: 0.3s;
  font-size: 1.5rem;
}
.img-backdrop:hover {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.484);
}
/* .product-list a img {
} */

.product-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.add-to-cart {
  /* display: flex;
  justify-content: center; */
}

@media (min-width: 800px) {
  .product-list {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}
