/* categories */

.categories {
  margin-bottom: 2rem;
}

.categories h4 {
  text-align: center;
}

.categories div {
  display: flex;
  justify-content: space-between;

  max-width: 300px;
  margin: auto;
  padding: 1rem 0;
}

.categories button {
  border: 2px solid var(--clr-black);
  color: var(--clr-black);
}

/* .categories button {
  background: transparent;
  border: 2px solid var(--clr-black);
  border-radius: 5px;
  width: 5rem;
  height: 2rem;
  cursor: pointer;
  transition: 0.3s;
}
*/
.categories button:hover {
  color: var(--clr-white);
  border: 2px solid var(--clr-orange);
}

/* section */

/* list */
.product-list {
  display: grid;
  justify-items: center;
  grid-gap: 4rem;
  margin-bottom: 3rem;
}
/* list item */
.product-list li {
  max-width: 300px;
}
.product-list a {
  position: relative;
  display: flex;
}

.img-backdrop {
  position: absolute;
  top: 0;
  left: 0;
  display: grid;
  place-items: center;
  height: 100%;
  width: 100%;
  background: #000;
  color: white;
  opacity: 0;
  transition: 0.3s;
  font-size: 1.5rem;
}
.img-backdrop:hover {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.484);
}

.product-info {
  display: grid;
  grid-template-columns: 70% 30%;
  align-items: center;
  min-height: 50px;
}

.price {
  justify-self: end;
}

@media (min-width: 800px) {
  .product-list {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}
@media (min-width: 941px) {
  .product-info {
    font-size: 0.95rem;
  }
}
